<style>
  #access-denied-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>
<body>
  <div id="access-denied-container">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="350"
      height="350"
      fill="currentColor"
      class="bi bi-ban"
      viewBox="0 0 16 16"
    >
      <path
        d="M15 8a6.973 6.973 0 0 0-1.71-4.584l-9.874 9.875A7 7 0 0 0 15 8M2.71 12.584l9.874-9.875a7 7 0 0 0-9.874 9.874ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0"
      />
    </svg>
    <h5>Access Denied</h5>
    <a id="return" href="#">Return to login</a>
  </div>
  <script>
    $("#return").click(function () {
      window.location.href = "admin-panel-signin.html";
    });
  </script>
</body>
