<section id="signup-form-container" class="p-3">
  <form id="signup-form" action="">
    <label for="email">Email:</label>
    <input
      id="signup-email"
      type="email"
      class="form-control"
      placeholder="Email"
      autocomplete="username"
      required
    />
    <label for="email">Password:</label>
    <input
      id="signup-password"
      type="password"
      class="form-control"
      placeholder="Password"
      autocomplete="current-password"
      required
    />

    <button class="btn btn-primary" type="submit">Signup</button>
  </form>
</section>
