$clr-main-dark: hsl(0, 0%, 11%);
$clr-grey-dark: hsl(0, 0%, 18%);
$clr-grey-light: hsl(0, 0%, 38%);
$clr-grey-ultra-light: hsl(0, 0%, 80%);
$clr-main-light: hsl(0, 0%, 100%);
$clr-main-color: hsl(0, 84%, 55%);
